extends ../../includes/layout


block container
	- let articles = [{title: 'Máximo Comun Divisor, Máximo Factor Común & Mínimo Común Múltiplo', link:'euclids-algorithm'}]
	- let title= 'Programación Competitiva'
	include ../../includes/home-blog/layout-home
