li
	a(href="#") 
		span Facebook
		i.icon-facebook2 
li
	a(href="#") 
		span Instagram
		i.icon-instagram 
li
	a(href="") 
		span Mixcloud
		i.icon-cloud2 
li
	a(href="#." target="_blank") 
		span Whatsapp
		i.icon-whatsapp 
