


li #[a.close(href="#events") Proyectos #[i.icon-calendar2]]
li.dropdown
	a.close(href="#") Mi camino de aprendizaje
	ul.dropdown-container
		include sub-menu-nav

//- li(class={no_display: pagina == '/panel'}) #[a.h4(href="#chart")
