li
	a(href="#.")
		span Técnologias WEB
		i.icon-facebook2
li
	a(href="#.")
		span Programación Competitiva
		i.icon-instagram
li
	a(href="#.")
		span Linux
		i.icon-cloud2
li
	a(href="#." target="_blank")
		span Inteligencia Artificial
		i.icon-whatsapp
