extends ../../includes/layout
block container
	- let articles = [{title: 'Veredicto del juez', link:'judment'}]
	- let title= 'Matemáticas y Estadística'
	include ../../includes/home-blog/layout-home
