/*----------------------------------------------------------------------------*
	$C-BLOCK
*----------------------------------------------------------------------------*/

.g-container
	position: relative
	top: 8rem
	padding: 3rem 5rem
	@media only screen and (min-width: $breakpoints['hd'] + 1)
		top: 4.3rem

.c-footer
	height: 100px
