/*----------------------------------------------------------------------------*
	$C-BLOCK
*----------------------------------------------------------------------------*/
body.c-block-body
	background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B)
	background: linear-gradient(to right, #3F5EFB, #FC466B)

.g-container
	position: relative
	top: 8rem
	height: 93vh
	padding: 0 5rem
	@media only screen and (min-width: $breakpoints['hd'] + 1)
		top: 4.3rem
