/*===========HOME PAGE=============*/

.c-home
	text-align: center
	@media only screen and (min-width: $breakpoints['l'] + 1)
		height: 95vh
		display: grid
		grid-column-gap: 6rem
		grid-template-columns: 1fr 1fr
		grid-template-rows: 30vh 40vh
		grid-template-areas: "title ilustration" "subtitle ilustration"

.c-home-title
	font-size: $text-size.medium
	font-weight: 600
	font-family: Nunito
	align-self: end
	& img
		display: inline-block
		width: 2.2rem


.c-home-ilustration
	width: 70%
	padding: 2rem 3rem
	@media only screen and (min-width: $breakpoints['l'] + 1)
		width: 100%
		align-self: center
		grid-area: ilustration

.c-home-subtitle
	font-size: $text-size.normal-4
	align-self: center

.c-home-btn-container, .c-home-subtitle
	margin-bottom: 3rem
	@media only screen and (min-width: $breakpoints['l'] + 1)
		margin-top: -7rem

$grosor-btn = 2.5px
.btn-call-to
	line-height: 3.4rem
	font-size: 2rem
	padding: 1rem 1.2rem
	font-weight: 700
	border-radius: 10px
	margin-left: 1rem
	margin-right: 1rem
	border: 3px solid $base3-color
	color: $base-color-background
	background: $base3-color
	&:hover
		border: 3px solid $base2-color
		color: $base-color-background
		transition: .7s ease


/*===========HOME PAGE SKILLS=============*/
.c-home-skills, .c-home-softSkills
	padding-top: 5rem
	display: grid
	grid-template-columns: 1fr 1fr
	grid-template-areas: 'title title'
	& a
		display: flex
		justify-content: center
		align-items: center
		padding: 1.5rem 2rem
		& h3
			text-align: center
			font-weight: $normal
			font-size: $text-size.normal-4
			margin-right: 1rem
	@media only screen and (min-width: $breakpoints['l'] + 1)
		padding-top: 0
		grid-template-columns: 1fr 1fr 1fr 1fr
		grid-template-areas: 'title title title title'


.c-home-skills-title
	grid-area: title
	text-align: center
	font-weight: $medium

.c-home-skills-icon
	width: 4rem
