/*----------------------------------------------------------------------------*
	$MEDIA QUERIES PARA EL REM
*----------------------------------------------------------------------------*/

// html
// 	//para que tenga alto
// 	height: 100%
// 	border: 1px solid #FF00C7
// 	@media only screen and (min-width: $breakpoints['s'] + 1)
// 		border: 3px solid #F00
// 	@media only screen and (min-width: $breakpoints['m'] + 1)
// 		border: 3px solid #FFE600
// 	@media only screen and (min-width: $breakpoints['l'] + 1)
// 		border: 3px solid #1CFF00
// 	@media only screen and (min-width: $breakpoints['xl'] + 1)
// 		border: 3px solid #00E8FF
// 	@media only screen and (min-width: $breakpoints['hd'] + 1)
// 		border: 3px solid #5900FF



.g-container, .g-container-header, .section
	margin-left: auto
	margin-right: auto


// Ancho máximo para la caja g-container
$container = 480px
.g-container
	//border: 1px solid #FFF
	max-width: $container
	@media only screen and (min-width: $breakpoints['s'] + 1)
		max-width: $container+100
	@media only screen and (min-width: $breakpoints['m'] + 1)
		max-width: $container+100+220
	@media only screen and (min-width: $breakpoints['l'] + 1)
		max-width: $container+100+220+210
	@media only screen and (min-width: $breakpoints['xl'] + 1)
		max-width: $container+100+220+210+200
	@media only screen and (min-width: $breakpoints['hd'] + 1)
		max-width: $container+100+220+210+200+24
