/*----------------------------------------------------------------------------*
	$GLOBAL
	Carga todos los recursos requeridos y los compila en un único archivo
*----------------------------------------------------------------------------*/

// configs
@import 'base/config'
// Objects
@import 'base/objects/heading'

// Componenets
@import 'base/components/relative-values'
@import 'base/components/index'
@import 'base/components/header'
@import 'base/components/block'
